doctype html
html(lang="en")
    head
        script(src="/static/tablesort/tablesort.js")
        script(src="/static/tablesort/tablesort.number.js")
        link(href="/static/tablesort/tablesort.css" rel="stylesheet")
    body
        table(id="sort" border="1")
            thead
                tr
                    th Client
                    th Version
                    th Self-Play Hash
                    th Network
                    th Move Count
                    th Winner
                    th Download
            tbody
                each item in data
                    tr
                        td #{item.ip}
                        td #{item.clientversion}
                        td
                            a(href="/view/" + item.sgfhash + "?viewer=wgo")  #{item.sgfhash}
                        td #{item.networkhash.slice(0, 8)}
                        td #{item.movescount}
                        td #{item.winnercolor}
                        td
                            a(href="/view/" + item.sgfhash + ".sgf")  sgf
        script.
            new Tablesort(document.getElementById('sort'));
